body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: pink;
}
outerDiv {
  border: 2px black;
  padding: 100px;
  background: plum;
}
div {
  display: flex;
  justify-content: center;
  margin: 20px;
}
label {
  font-weight: 500;
  margin: 0 20px;
  font-size: 26px;
}
input {
  border-radius: 10px;
  width: 250px;
  height: 40px;
  background: lavender;
  outline: none;
  font-size: 20px;
  padding: 0 5px;
}
button {
  width: 70%;
  height: 35px;
  border-radius: 10px;
  font-size: 16px;
  background: palevioletred;
  color: white;
  cursor: pointer;
  outline: none;
}
